/* Default styles */

body {
  background-color: darkslategray;
  color: black;
}

h1 {
  font-family: Helvetica;
}

/* Media Queries */

@media only screen and (min-width: 500px) {
  body {
    background-color: darksalmon;
    color:black;
  }
}

@media only screen and (min-width: 800px) {
  body {
    background-color: darkslateblue;
    color: black;
  }
}

